.card {
}
.card-container {
}
.card__text {
}
.card__title {
}
.featured-rooms {
}
.featured-rooms__img {
}
.featured-rooms__title {
}
.footer {
  grid-column: 1/-1;
  background-color: var(--color-primary);
  color: white;
  min-height: 18rem;
  padding: 2rem 0.5rem;
  font-size: 1.2rem;
  margin: 0 auto;
}

.footer__item-container {
  flex-grow: 1;
  width: min(1000px, 100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.5rem, 1fr));
  justify-content: center;
  align-content: center;

  gap: 0.5rem;
}
.footer__item {
  /* margin: 0 0.5rem; */
}
.footer__item--first {
  /* margin: 0 0.5rem; */
}
.footer__item--last {
  grid-column-end: -1;
}
.footer__link {
}
.footer__text {
}
.footer__title {
}
.main-content {
}

@media (min-width: 768px) {
  .featured-rooms__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-content {
    margin: 0 auto;
  }
  .main-content__title {
    font-size: 3rem;
    letter-spacing: 0.15em;
  }
  .main-content__text {
    font-size: 1.3rem;
  }

  .main-content__text-title {
    margin-top: 2rem;
  }

  .footer__item {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 2fr 1fr;
    padding: 0 2rem;
  }
  .featured-rooms__gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
