/* Setup */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Ultra&display=swap");

:root {
 --color-primary: #11303f;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Mulish", sans-serif;
 overflow-x: hidden; /* Gör ingen plats för scrollbar*/
}

h1,
h2,
h3,
h4 {
 font-family: "Ultra", serif;
}

/* Reusable assets */
.button {
 width: 10rem;
 margin-top: 1rem;
 padding: 1rem;
 border-radius: 1rem;
 background: var(--color-primary);
 color: #fff;
}

/* Page start */
.wrapper {
 width: 100vw;
 max-width: 1600px;
 margin: 0 auto;
 display: grid;
 gap: 2rem;
 grid-auto-rows: auto;
}

.nav {
 grid-column: 1/-1;
 background-color: var(--color-primary);
 padding: 1rem 0;
 display: flex;
 gap: 1rem;
 flex-direction: column-reverse;
 align-items: center;
}
.nav__list {
 display: flex;
 align-items: center;
 justify-content: center;
 list-style-type: none;
}
.nav__item {
 padding: 0.3rem 1rem;
 text-align: center;
}
.nav__item:hover {
 background-color: rgba(255, 255, 255, 0.2);
}
.nav__item--middle {
 border-inline: solid 2px hsla(0, 0%, 0%, 0.175);
}
.nav__item--selected {
 background-color: rgba(255, 255, 255, 0.1);
}
.nav__link {
 color: #fff;
 text-decoration: none;
}
.nav__logo {
 display: none;
 max-height: 4rem;
}
.nav__logo--portrait {
 display: block;
}

.page-header {
 grid-column: 1/-1;
 height: min(75dvh, 75vw);
 background-image: url(./assets/img/campfire.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.page-header--alt-img-1 {
 background-image: url(./assets/img/aview.jpg);
}
.page-header--alt-img-2 {
 background-image: url(./assets/img/dayfire.jpg);
}
.page-header__title {
 max-width: 9em;
 margin: 0.5rem 1rem 0 1rem;
 color: rgba(255, 255, 255, 0.6);
 text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
 font-size: clamp(1.8rem, 8vw, 6rem);
 font-weight: normal;
 letter-spacing: 0.05em;
}

/* Cards */
.card-container {
 grid-column: 1/-1;
 display: flex;
 gap: 2rem;
 flex-wrap: wrap;
}
.card {
 flex: 1;
 min-width: 16rem;
 margin: 0 0.5rem;
 padding: 6rem 2rem 4rem;
 text-align: center;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
  rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.card--large {
 min-width: min(25rem, 90vw);
}
.card__img {
 width: 20%;
 margin-bottom: 1rem;
 /* Konverterar färgen svart till #11303f på ikonerna */
 filter: invert(15%) sepia(16%) saturate(2021%) hue-rotate(155deg) brightness(91%)
  contrast(93%);
}
.card__title {
 margin-bottom: 4rem;
 color: var(--color-primary);
}
.card__text {
 margin: 1rem 0;
}

/* Main content  */
.main {
 width: 100%;
 margin: 0 0.5rem;
 display: flex;
 gap: 4rem;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 1.1rem;
}
.main--background {
 background: center / cover no-repeat url(./assets/img/moln.jpg);
}
.main__textbox {
 max-width: 800px;
 margin: 1rem;
 padding: 0.5rem;
 background: rgba(255, 255, 255, 0.5);
}
.main__title {
 color: var(--color-primary);
 font-size: 1.8rem;
}
.main__text-title {
 margin-top: 1.5rem;
 font-family: "Mulish", sans-serif;
}

/* Rum i urval */
.featured-rooms {
 padding: 0 0.5rem;
}
.featured-rooms__title {
 margin-bottom: 0.8rem;
 color: var(--color-primary);
}
.featured-rooms__gallery {
 display: grid;
 gap: 0.5rem;
 grid-template-columns: 1fr;
}
.featured-rooms__img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* Detaljerad lista med rum */
.room {
 max-width: min(100%, 90vw);
 display: flex;
 gap: 1rem;
 flex-direction: column;
}
.room__img {
 max-width: 100%;
 object-fit: cover;
 vertical-align: bottom;
}
.room__title {
 letter-spacing: 0.05em;
}
.room__txt-area {
 display: flex;
 gap: 0.5rem;
 flex-direction: column;
}
.room__book--btn {
 align-self: flex-end;
}
.room__info {
 margin: 1rem 0;
 padding: 1rem;
 border-top: 1px solid var(--color-primary);
 border-bottom: 1px solid var(--color-primary);
 color: #000;
 display: flex;
 gap: 1rem;
 justify-content: space-evenly;
}

/* Sök rum  */
.room-select {
 margin: 0 2rem 2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.room-select__form {
 width: min(100%, 90vw);
 display: flex;
 gap: 0.5rem;
 flex-direction: column;
}
.room-select__traveldates,
.room-select__settings {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 90%;
}
.room-select__title {
 font-family: "Mulish", sans-serif;
}
.room-select__selected {
 font-weight: 900;
}
.room-select__label {
 margin-top: 0.8rem;
}

/* Footer */
.footer {
 grid-column: 1/-1;
 min-height: 18rem;
 padding: 2rem;

 display: grid;
 column-gap: clamp(1.5rem, 10%, 14rem);
 row-gap: 1rem;
 grid-template-columns: repeat(auto-fit, minmax(15.5rem, max-content));
 justify-content: center;
 align-content: center;

 background-color: var(--color-primary);
 color: white;
 font-size: 1.2rem;
}
.footer__item {
 width: max-content;
 font-style: normal;
}
.footer__item--last {
 grid-column-end: -1;
}
.footer__link {
 color: white;
 text-decoration: underline;
}
.footer__text {
 line-height: 1.5;
}
.footer__title {
 font-weight: normal;
}

@media (min-width: 768px) {
 .nav {
  padding: 1rem 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
 }
 .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
 }
 .nav__item {
  font-size: 1.2rem;
 }
 .nav__logo {
  display: block;
 }
 .nav__logo--portrait {
  display: none;
 }

 .main {
  margin: 0 auto;
 }
 .main__title {
  font-size: 3rem;
  letter-spacing: 0.15em;
 }
 .main__text-title {
  margin-top: 2rem;
 }

 /* Rum i urval */
 .featured-rooms__gallery {
  grid-template-columns: repeat(3, 1fr);
 }

 /* Detaljerad rumslista */
 .room {
  flex-direction: row;
 }
 .room__img {
  width: clamp(25rem, 50%, 38.125rem);
 }
 .room-select__form {
  flex-direction: row;
  gap: 2rem;
 }
}

@media (min-width: 1200px) {
 .wrapper {
  padding: 0 2rem;
  grid-template-columns: 2fr 1fr;
 }

 .main--lift {
  grid-row-start: 3;
 }

 /* Rum i urval */
 .featured-rooms__gallery {
  grid-template-columns: repeat(1, 1fr);
 }

 /* Detaljerad rumslista */
 .room-select {
  grid-column-end: -1;
 }
 .room-select__form {
  flex-direction: column;
  gap: 0.5rem;
 }
}
